## Ingesta de los datos 
Utilizamos la libreria Meteostat, la cual descarga informacion relacionada al clima de diversas fuentes 
Meteostat usa como parametro la longitud, latitud, elevacion, fecha inicio y fecha final
En este caso, solo hacemos variar los 3 primeros parametros en funcion de los 5 Boroughs

paso 1: Se crea una lista con los parametros de cada borough
paso 2: Se realiza la descarga en un unico dataframe, a traves de un for

In [42]:
#cada tupla tiede: latitud, longitud, elevacion, nombre del boroug
bronx = [40.8499, -73.8664, 19, "The Bronx"]
brooklyn = [40.6501, -73.9496, 18, 'Brooklyn']
manhattan = [40.7834, -73.9663, 38, 'Manhattan']
queens = [40.6815, -73.8365, 13, 'Queens']
staten_island = [40.5623, -74.1399, 23, 'Staten Island']

#generamos una lista  con las tuplas
lista = [bronx, brooklyn, manhattan, queens,staten_island]

In [43]:
#importamos las librerias 
from datetime import datetime
import matplotlib.pyplot as plt
#PIP INSTALL METEOSTAT
from meteostat import Point, Daily, Hourly
import pandas as pd

In [44]:
#descarga de la informacion 
#descargamos la info de todos los boroughs en un mismo dataframe

df_list = []
for i in lista:
    #Seteo del periodo estudiado
    start = datetime(2018, 1, 1)
    end = datetime(2018, 1, 31)
    #seteo de locacion (latitud, longitud, elevacion)
    location = Point([i][0][0], [i][0][1], [i][0][2])
    # indicamos que queremos una frecuencia por hora
    data = Hourly(location, start, end)
    data = data.fetch()
    #creamos un dataframe
    df = pd.DataFrame(data)
    df['Borough'] = [i][0][3]
    df_list.append(df)
df = pd.concat(df_list)

In [45]:
#transformamos el indice 'time' en columna
df.reset_index(inplace=True)

In [46]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3605 entries, 0 to 3604
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     3605 non-null   datetime64[ns]
 1   temp     3605 non-null   float64
 2   dwpt     3605 non-null   float64
 3   rhum     3605 non-null   float64
 4   prcp     3493 non-null   float64
 5   snow     0 non-null      float64
 6   wdir     3564 non-null   float64
 7   wspd     3605 non-null   float64
 8   wpgt     0 non-null      float64
 9   pres     3599 non-null   float64
 10  tsun     0 non-null      float64
 11  coco     560 non-null    float64
 12  Borough  3605 non-null   object
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 366.3+ KB
None

## Limpieza de datos 
1) Las columnas tsun, wpgt, snow no tienen ningun registro, con lo cual se eliminan. coco tiene muchos valores faltantes
2) las columnas prcp, pres, wdir tienen unos pocos faltantes
3) es necesario nombres de columnas adecuadas 
4) es necesario hacer una columna con la fecha concatenada con el borough

In [47]:
#eliminamos las columnas con valores muchos valores nulos (o todos)
df.drop(["snow"], axis = 1, inplace = True)
df.drop(["wpgt"], axis = 1, inplace = True)
df.drop(["tsun"], axis = 1, inplace = True)
df.drop(["coco"], axis = 1, inplace = True)

In [8]:
df.head(20)

                  time  temp  dwpt  rhum  prcp   wdir  wspd    pres    Borough
0  2018-01-01 00:00:00 -10.7 -20.1  46.0   0.0  320.0  18.4  1026.7  The Bronx
1  2018-01-01 01:00:00 -11.8 -20.6  48.0   0.0  330.0  18.4  1026.7  The Bronx
2  2018-01-01 02:00:00 -12.3 -20.6  50.0   0.0  320.0  13.0  1027.0  The Bronx
3  2018-01-01 03:00:00 -12.3 -20.6  50.0   0.0  330.0  20.5  1026.8  The Bronx
4  2018-01-01 04:00:00 -12.9 -20.1  55.0   0.0  320.0  20.5  1027.1  The Bronx
5  2018-01-01 05:00:00 -12.9 -20.1  55.0   0.0  340.0  16.6  1026.9  The Bronx
6  2018-01-01 06:00:00 -13.4 -20.1  57.0   0.0  330.0  14.8  1027.1  The Bronx
7  2018-01-01 07:00:00 -13.4 -20.1  57.0   0.0  330.0  16.6  1027.4  The Bronx
8  2018-01-01 08:00:00 -13.4 -20.7  54.0   0.0  330.0  25.9  1027.6  The Bronx
9  2018-01-01 09:00:00 -14.0 -20.7  57.0   0.0  310.0  20.5  1027.7  The Bronx
10 2018-01-01 10:00:00 -14.0 -20.7  57.0   0.0  310.0  24.1  1027.8  The Bronx
11 2018-01-01 11:00:00 -14.0 -21.1  55.0   0.0  320.0  24.1  1028.0  The Bronx
12 2018-01-01 12:00:00 -14.5 -20.8  59.0   0.0  320.0  22.3  1028.5  The Bronx
13 2018-01-01 13:00:00 -14.0 -20.7  57.0   0.0  320.0  27.7  1028.7  The Bronx
14 2018-01-01 14:00:00 -12.9 -20.1  55.0   0.0  320.0  22.3  1029.0  The Bronx
15 2018-01-01 15:00:00 -11.2 -20.1  48.0   0.0  320.0  25.9  1029.4  The Bronx
16 2018-01-01 16:00:00 -10.1 -20.1  44.0   0.0  320.0  25.9  1029.1  The Bronx
17 2018-01-01 17:00:00  -9.5 -20.1  42.0   0.0  330.0  29.5  1028.5  The Bronx
18 2018-01-01 18:00:00  -8.4 -20.2  38.0   0.0  330.0  25.9  1027.9  The Bronx
19 2018-01-01 19:00:00  -7.3 -20.2  35.0   0.0  310.0  25.9  1027.3  The Bronx

In [48]:
#prcp tiene muy pocos valores nulos. y la mayoria de los casos a la 1am. con lo cual, vamos a asumir que cuando es nulo, es cero 
df['prcp'].fillna(0, inplace = True)

In [49]:
# en cuanto a las columnas wdir (direccion del viento) y pres (presion atmosferica), le impotumos el promedio por borough.

a = df['wdir'].mean() #promedio de direccion de viento
df['wdir'].fillna(a, inplace=True)
   
b = df['wdir'].mean() #promedio de direccion de viento
df['wdir'].fillna(b, inplace=True) #promedio de presion atmosferica
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3605 entries, 0 to 3604
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     3605 non-null   datetime64[ns]
 1   temp     3605 non-null   float64
 2   dwpt     3605 non-null   float64
 3   rhum     3605 non-null   float64
 4   prcp     3605 non-null   float64
 5   wdir     3605 non-null   float64
 6   wspd     3605 non-null   float64
 7   pres     3599 non-null   float64
 8   Borough  3605 non-null   object
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 253.6+ KB
None

In [53]:
print(df.head(20))

                  time  temp  dwpt  rhum  prcp   wdir  wspd    pres    Borough
0  2018-01-01 00:00:00 -10.7 -20.1  46.0   0.0  320.0  18.4  1026.7  The Bronx
1  2018-01-01 01:00:00 -11.8 -20.6  48.0   0.0  330.0  18.4  1026.7  The Bronx
2  2018-01-01 02:00:00 -12.3 -20.6  50.0   0.0  320.0  13.0  1027.0  The Bronx
3  2018-01-01 03:00:00 -12.3 -20.6  50.0   0.0  330.0  20.5  1026.8  The Bronx
4  2018-01-01 04:00:00 -12.9 -20.1  55.0   0.0  320.0  20.5  1027.1  The Bronx
5  2018-01-01 05:00:00 -12.9 -20.1  55.0   0.0  340.0  16.6  1026.9  The Bronx
6  2018-01-01 06:00:00 -13.4 -20.1  57.0   0.0  330.0  14.8  1027.1  The Bronx
7  2018-01-01 07:00:00 -13.4 -20.1  57.0   0.0  330.0  16.6  1027.4  The Bronx
8  2018-01-01 08:00:00 -13.4 -20.7  54.0   0.0  330.0  25.9  1027.6  The Bronx
9  2018-01-01 09:00:00 -14.0 -20.7  57.0   0.0  310.0  20.5  1027.7  The Bronx
10 2018-01-01 10:00:00 -14.0 -20.7  57.0   0.0  310.0  24.1  1027.8  The Bronx
11 2018-01-01 11:00:00 -14.0 -21.1  55.0   0.0  320.0  24.1  1028.0  The Bronx
12 2018-01-01 12:00:00 -14.5 -20.8  59.0   0.0  320.0  22.3  1028.5  The Bronx
13 2018-01-01 13:00:00 -14.0 -20.7  57.0   0.0  320.0  27.7  1028.7  The Bronx
14 2018-01-01 14:00:00 -12.9 -20.1  55.0   0.0  320.0  22.3  1029.0  The Bronx
15 2018-01-01 15:00:00 -11.2 -20.1  48.0   0.0  320.0  25.9  1029.4  The Bronx
16 2018-01-01 16:00:00 -10.1 -20.1  44.0   0.0  320.0  25.9  1029.1  The Bronx
17 2018-01-01 17:00:00  -9.5 -20.1  42.0   0.0  330.0  29.5  1028.5  The Bronx
18 2018-01-01 18:00:00  -8.4 -20.2  38.0   0.0  330.0  25.9  1027.9  The Bronx
19 2018-01-01 19:00:00  -7.3 -20.2  35.0   0.0  310.0  25.9  1027.3  The Bronx

In [55]:
#colocamos un nombre adecuado a cada columna
df.rename(columns={"dwpt": "dew_point", "rhum": "hum", "prcp":"rain", "Borough":"borough", "wdir":"wind_dir", "wspd":"wind_speed"}, inplace=True)

In [56]:
df.head(5)

,time,temp,dew_point,hum,rain,wind_dir,wind_speed,pres,borough
0,2018-01-01 00:00:00,-10.7,-20.1,46.0,0.0,320.0,18.4,1026.7,The Bronx
1,2018-01-01 01:00:00,-11.8,-20.6,48.0,0.0,330.0,18.4,1026.7,The Bronx
2,2018-01-01 02:00:00,-12.3,-20.6,50.0,0.0,320.0,13.0,1027.0,The Bronx
3,2018-01-01 03:00:00,-12.3,-20.6,50.0,0.0,330.0,20.5,1026.8,The Bronx
4,2018-01-01 04:00:00,-12.9,-20.1,55.0,0.0,320.0,20.5,1027.1,The Bronx